{% extends "layout.njk" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{instructor.avatar_url}}) no-repeat center center / cover"></section>

        <section class="details">

            <div class="icons">
                <a href="/instructors/{{ instructor.id }}/edit" class="m_icons" id="link_edit">
                    <span style="font-size: 22px" class="material-icons" id="span_edit">edit</span>
                </a>
                    
                <form action="/instructors?_method=DELETE" method="POST" id="form-delete">
                    <input type="hidden" name="id" value="{{instructor.id}}">

                    <button type="submit" class="m_icons" id="button_delete">
                        <span style="font-size: 24px;" class="material-icons" id="span_delete">
                            delete_forever
                        </span>
                </button>
                </form>
            </div>




            <h3>Details</h3>

            <div class="item">
                <div>Instructor</div>
                <div>{{instructor.name}}</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>{{instructor.age}}</div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>{{ "Male" if instructor.gender == "M" else "Female"}}</div>
            </div>

            <div class="item">
                <div>Roles</div>

                <div>
                    {% for service in instructor.services %}
                        <span>{{service}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Education level</div>
                <div>{{instructor.education_level}}</div>
            </div>

            <div class="item">
                <div>Class Type</div>
                <div>In-person</div>
            </div>

            <div class="item">
                <div>Registration Date</div>
                <div>{{instructor.created_at}}</div>
            </div>
        </section>
    </div>
{% endblock content %}