@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --dark-green: #283D3B;
    --light-green: #197278;
    --pink: #EDDDD4;
    --light-red: #C44536;
    --dark-red: #772E25;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pink);
    font-weight: 600;
}

a {
    text-decoration: none;
    color: currentColor;
}

li + li {
    padding-left: 40px;
}

.header_wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    color: var(--dark-red);
}

.header_wrapper ul li {
    display: inline-block;
}

.header_wrapper ul li h1 a {
    display: inline-block;
    font-weight: bold;
    margin-right: 30px;
}

.header_wrapper ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--dark-green);
    display: block;
}

.header_wrapper ul li a:hover::after {
    width: 100%;
    transition: all 0.5s ease;
}

/*=== CARD ===*/
.card {
    width: 800px;
    min-height: 500px;
    background-color: white;
    
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0 2px 7px 4px rgba(119, 46, 37, 0.3);
    border-radius: 5px;

    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
}

@keyframes up {
    from {
        transform: translateY(30px);
    } to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details .item div:nth-child(1) {
    font-size: 16px;
    line-height: 24px;
    color: rgb(182, 182, 182);
    font-weight: normal;
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
    color: var(--light-red);
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(119, 119, 119);

}

.details .item span {
    padding: 8px 16px;
    border-radius: 1;
    color: white;
    border-radius: 16px;
    background-color: var(--light-green);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.avatar {
    filter: grayscale(70%);
    border-radius: 5px 0 0 5px;
}

/*=== FORM === */
input {
    width: 100%;
    outline: none;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"] {
    font-weight: bold;
    padding: 8px 32px;
    background-color: var(--light-red);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    color: #ffffff;
    border: none;
}


input[type="text"], 
input[type="url"], 
input[type="date"] { 
    border: none;
}

/* === ICONS & SUBMIT BUTTON DELETE === */

.m_icons  {
    position: relative;
    float: right;
}

.m_icons:hover {
    transition: all 0.35s ease-out;
    border-radius: 2px;
    box-shadow: 0px 0px 4px grey;
}

#span_edit {
    padding: 1px 2px;
}

#form-delete #button_delete {
    padding: 0;
    margin: 0;
    width: initial;
    background-color: transparent;
    color: initial;
    margin-right: 5px;
}

#form-delete #button_delete:hover #span_delete {
    color: var(--light-red);
    transition: 0.45s color ease-in-out;
}


/* === TABLE INDEX === */
table {
    width: 100%;
}

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

/* TABLE HEADER */
th { 
    color: #777;
    font-size: 14px;
    text-transform: uppercase;
}

/* TABLE ROW*/
tr {
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}

/* LAST TABLE ROW */
tbody tr:last-child {
    border-bottom: none;
}


/* TABLE DATA CELL AND TABLE HEADER*/
td, th { 
    padding: 16px 8px;
    text-align: center;
    vertical-align: middle;
}


/* SHOW BUTTON */
tbody tr td:last-child a span{
    padding: 8px;
}

tbody tr td:last-child a span:hover {
    transition: all 0.4s ease-in;
    color: var(--light-red);
}

/* END */


/* CENTERING TABLE*/

.table-container thead tr th, td {
    text-align: center;
}

tbody tr td:first-child { /* Adicionando espaço para o avatar */
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}



footer {
    position: relative;
    padding: 30px;
    text-align: center;
}