{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}


{% block content %}
<div class="card table-container">

    <a href="/members/create"> 
        <span class="material-icons material_button" id="create_button">
            add
            <div>NEW</div>
        </span>
    </a>

    <table>
        <thead>
            <tr>
                <th>Member</th>
                <th>Email</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for member in members %}
            <tr>
                <td>
                    <span style="background-image: url({{member.avatar_url}});"></span>
                    {{member.name}}
                </td>

                <td>{{member.email}}</td>
                <td>{{member.height}}cm</td>
                <td>{{member.weight}}kg</td>


                <td class="action_buttons">
                    <a href="/members/{{member.id}}">
                        <span class="material-icons">
                            visibility
                        </span>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}