{% extends "layout.njk" %}

{% block head %}
    <title>Receitas — Foodfy</title>
{% endblock %}

{% block li %}
<li><a href="/about">Sobre</a></li>
<li><a class="header_active" href="/recipes">Receitas</a></li>
{% endblock %}

{% block content %}
<main>
    <div class="recipes_wrapper" id="recipes_page">

        <div class="recipe_block burger">
            <img src="/img/burger.png" alt="Triplo Bacon Burger">
            <h5>Triplo Bacon Burger</h5>
            <p>Por Jorge Relato</p>
        </div>

        <div class="recipe_block pizza">
            <img src="/img/pizza.png" alt="">
            <h5>Pizza 4 estações</h5>
            <p>Por Fabiana Melo</p>
        </div>

        <div class="recipe_block espaguete">
            <img src="/img/espaguete.png" alt="">
            <h5>Espaguete ao alho</h5>
            <p>Por Júlia Kinoto</p>
        </div>

        <div class="recipe_block lasanha">
            <img src="/img/lasanha.png" alt="">
            <h5>Lasanha mac n' cheese</h5>
            <p>Por Juliano Vieira</p>
        </div>

        <div class="recipe_block doce">
            <img src="/img/doce.png" alt="">
            <h5>Docinhos pão-do-céu</h5>
            <p>Por Ricardo Golvea</p>
        </div>

        <div class="recipe_block asinhas">
            <img src="/img/asinhas.png" alt="">
            <h5>Asinhas de frango ao barbecue</h5>
            <p>Por Vania Steroski</p>
        </div>

        <div class="recipe_block burger">
            <img src="/img/burger.png" alt="Triplo Bacon Burger">
            <h5>Triplo Bacon Burger</h5>
            <p>Por Jorge Relato</p>
        </div>

        <div class="recipe_block pizza">
            <img src="/img/pizza.png" alt="">
            <h5>Pizza 4 estações</h5>
            <p>Por Fabiana Melo</p>
        </div>

        <div class="recipe_block espaguete">
            <img src="/img/espaguete.png" alt="">
            <h5>Espaguete ao alho</h5>
            <p>Por Júlia Kinoto</p>
        </div>

        <div class="recipe_block lasanha">
            <img src="/img/lasanha.png" alt="">
            <h5>Lasanha mac n' cheese</h5>
            <p>Por Juliano Vieira</p>
        </div>

        <div class="recipe_block doce">
            <img src="/img/doce.png" alt="">
            <h5>Docinhos pão-do-céu</h5>
            <p>Por Ricardo Golvea</p>
        </div>

        <div class="recipe_block asinhas">
            <img src="/img/asinhas.png" alt="">
            <h5>Asinhas de frango ao barbecue</h5>
            <p>Por Vania Steroski</p>
        </div>
    </div>
</main>
{% endblock %}
