{% extends "admin/layout.njk" %}

{% block head %}
    <title>Nova receita — Foodfy</title>
{% endblock %}

{% block content %}

    <div class="admin_header_wrapper">
        <div class="admin_header_title">
            <h1>Cadastrando nova receita</h1>
        </div>

        <div class="admin_header_save button">
            <a href="#">Salvar Receita</a>
        </div>
    </div>

   {% include 'admin/fields.njk' %}
{% endblock %}