{% extends "admin/layout.njk" %}

{% block head %}
    <title>Nova receita — Foodfy</title>
{% endblock %}

{% block content %}
    <div class="admin_new_content">
        <div class="admin_new_wrapper">
            <div class="admin_new_title">
                <h1>Cadastrando Nova Receita</h1>
            </div>

            <div class="admin_new_save_button button">
                <a href="#">Salvar Receita</a>
            </div>
        </div>

        <div class="admin_new_item">
            <div>Imagem da Receita</div>

            <div>
                <input type="text">
            </div>
        </div>

        <div class="admin_new_item">
            <div>Ingredientes</div>

            <div>
                <input type="text">
            </div>
            <div class="add_input">
                <button type="button">Adicionar ingrediente</button>
            </div>
        </div>

        <div class="admin_new_item">
            <div>Modo de Preparo</div>

            <div>
                <input type="text">
            </div>

            <div class="add_input">
                <button type="button">Adicionar ingrediente</button>
            </div>
        </div>

        <div class="admin_new_item">
            <div>Informações adicionais</div>

            <div>
                <textarea name="adicional_info" id="text_area_info"></textarea>
            </div>
        </div>

    </div>
{% endblock %}