<div class="admin_fields_content">
    <div class="admin_fields_item">
        <div>Imagem da Receita</div>

        <div class="field_container">
            <input type="text" name="image" value="{{recipe.image}}" required="required">
        </div>
    </div>

    <div class="admin_fields_item">
        <div>Título da Receita</div>

        <div class="field_container">
            <input type="text" name="title" value="{{recipe.title}}" required="required">
        </div>
    </div>

    <div class="admin_fields_item">
        <div id="ingredients">
            <div>Ingredientes</div>

            {% if ingredients.length >= 1 %}
                {% for ingredient in ingredients %}
                    <div class="fieldContainerIngredients">
                        <input type="text" name="ingredients[]" value="{{ingredient}}" class="not-full">
                        <div class="remove_input_button" onclick="remove(this)"></div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="fieldContainerIngredients">
                    <input type="text" name="ingredients[]" class="not-full">
                    <div class="remove_input_button" onclick="remove(this)"></div>
                </div>
            {% endif %}

        </div>
        <div class="add_input">
            <button type="button" class="add-ingredient">Adicionar ingrediente</button>
        </div>
    </div>

    <div class="admin_fields_item">
        <div id="steps">
            <div>Modo de Preparo</div>

            {% if steps.length >= 1 %}
                {% for step in steps %}
                    <div class="fieldContainerSteps">
                        <input type="text" name="steps[]" value="{{step}}" class="not-full">
                        <div class="remove_input_button" onclick="remove(this)"></div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="fieldContainerSteps">
                    <input type="text" name="steps[]" required="required" class="not-full">
                    <div class="remove_input_button" onclick="remove(this)"></div>
                </div>
            {% endif %}

        </div>

        <div class="add_input">
            <button type="button" class="add-step">Adicionar passos</button>
        </div>
    </div>

    <div class="admin_fields_item">
        <div>Informações adicionais</div>

        <div>
            <textarea name="information" id="text_area_info">
                {{information}}
            </textarea>
        </div>
    </div>

    <input type="hidden" name="id" value="{{recipe.id}}">
</div>