<div class="admin_fields_content">
    <div class="admin_fields_item">
        <div>Imagem da Receita</div>

        <div class="field_container">
            <input type="text" name="image" required>
        </div>
    </div>

    <div class="admin_fields_item">
        <div>Título da Receita</div>

        <div class="field_container">
            <input type="text" name="title" required>
        </div>
    </div>

    <div class="admin_fields_item">
        <div id="ingredients">
            <div>Ingredientes</div>

            <div class="fieldContainerIngredients">
                <input type="text" name="ingredients[]" value="">
            </div>

        </div>
        <div class="add_input">
            <button type="button" class="add-ingredient">Adicionar ingrediente</button>
        </div>
    </div>

    <div class="admin_fields_item">
        <div id="steps">
            <div>Modo de Preparo</div>

            <div class="fieldContainerSteps">
                <input type="text" name="steps[]" value="">
            </div>

        </div>
        
        <div class="add_input">
            <button type="button" class="add-step">Adicionar passos</button>
        </div>
    </div>

    <div class="admin_fields_item">
        <div>Informações adicionais</div>

        <div>
            <textarea name="information" id="text_area_info"></textarea>
        </div>
    </div>
</div>

<script>

</script>