{% extends "admin/layout.njk" %}
{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="recipes_admin_content">
    <div class="recipes_admin_title">
        <h2>Gerenciar receitas</h2>

        <a href="create" id="add_button_link">
            <span class="material-icons">
                add
            </span>
        </a>
    </div>

    <div class="recipes_admin_wrapper">
    {% for recipe in recipes %}
        <div class="recipes_admin_block" id="{{loop.index0}}">

            {% if recipe.image %}
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
            {% else %}
            <img src="{{recipe.folder_img}}" alt="{{recipe.title}}">
            {% endif %}
          
            <div class="recipes_admin_info">
                <h5>{{recipe.title}}</h5>
                <p class="recipe_author">Por {{recipe.author}} </p>
                <a href="recipes/{{loop.index0}}">Visualizar</a>
            </div>

        </div>
    {%endfor%}
    </div>
</div>

{% endblock %}

